<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengyi.sapmapper.SAPFinanceBudgetMapper">
    <resultMap id="sumProductMap" type="com.hengyi.bean.FactProductBean">
        <result column="bukrs" property="company" jdbcType="VARCHAR"/>
        <result column="product" property="product" jdbcType="VARCHAR"/>
        <result column="sum_product" property="factProduct" jdbcType="VARCHAR"/>
    </resultMap>
    <!--分页组件-->
    <!--<sql id="page">-->
        <!--<if test="limit != null">-->
            <!--<if test="offset != null">-->
                <!--limit ${offset},${limit}-->
            <!--</if>-->
            <!--<if test="offset == null">-->
                <!--limit ${limit}-->
            <!--</if>-->
        <!--</if>-->
    <!--</sql>-->
    <!--获取SAP实际产量-->
    <select id="getSapFact" parameterType="com.hengyi.vo.ConditionVo" resultMap="sumProductMap">
        SELECT  sumProduct.* FROM (
        --1000的产量
            select bukrs,decode(matkl,'120','DTY','130','POY','140','FDY','150','切片','152','短纤') product,sum(product) sum_product
            from yusuan_date_product_all
            where bukrs='1000'
            <if test="startMonth != null">
                AND TO_char(date1,'yyyy-mm') &gt;= to_char(to_date(#{startMonth},'yyyy-mm'),'yyyy-mm')
            </if>
            <if test="endMonth != null">
                AND TO_char(date1,'yyyy-mm') &lt;= to_char(to_date(#{endMonth},'yyyy-mm'),'yyyy-mm')
            </if>
            and bwart in ('101','102','531','532','931','932')
            and aufnr != ' '
            and (
            --拆分字符串找出物料描述的批号开头为ABCDEFG
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'A%' or
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'B%' or
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'C%' or
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'D%' or
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'E%' or
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'F%' or
            substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'G%')
            group by matkl,bukrs
            UNION ALL
            --其他公司的产量
            select bukrs,decode(matkl,'120','DTY','130','POY','140','FDY','150','切片','152','短纤') product,sum(product)
            sum_product
            from yusuan_date_product_all
            where bwart in ('101','102','931','932')
            and aufnr != ' '
            and matkl != '160'--去掉160熔体订单
            AND bukrs IN ('2000','3000','9100','9200','9300')
            <if test="startMonth != null">
              AND TO_char(date1,'yyyy-mm') &gt;= to_char(to_date(#{startMonth},'yyyy-mm'),'yyyy-mm')
            </if>
            <if test="endMonth != null">
              AND TO_char(date1,'yyyy-mm') &lt;= to_char(to_date(#{endMonth},'yyyy-mm'),'yyyy-mm')
            </if>
            group by matkl,bukrs
        ) sumProduct WHERE 1=1
        <if test="company != null and company != ''">
            AND bukrs=#{company}
        </if>
        <if test="product != null and product != ''">
            AND product=#{product}
        </if>
        ORDER BY bukrs
        <!--<include refid="page"/>-->
    </select>
    <!--<select id="getSapFactCount" parameterType="com.hengyi.vo.ConditionVo" resultType="java.lang.Long">-->
        <!--SELECT  COUNT(*) FROM (-->
            <!--&#45;&#45;1000的产量-->
            <!--select bukrs,decode(matkl,'120','DTY','130','POY','140','FDY','150','切片','152','短纤') product,sum(product) sum_product-->
            <!--from yusuan_date_product_all-->
            <!--where bukrs='1000'-->
            <!--<if test="startMonth != null">-->
                <!--AND TO_char(date1,'yyyy-mm') &gt;= to_char(to_date(#{startMonth},'yyyy-mm'),'yyyy-mm')-->
            <!--</if>-->
            <!--<if test="endMonth != null">-->
                <!--AND TO_char(date1,'yyyy-mm') &lt;= to_char(to_date(#{endMonth},'yyyy-mm'),'yyyy-mm')-->
            <!--</if>-->
            <!--and bwart in ('101','102','531','532','931','932')-->
            <!--and aufnr != ' '-->
            <!--and (-->
            <!--&#45;&#45;拆分字符串找出物料描述的批号开头为ABCDEFG-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'A%' or-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'B%' or-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'C%' or-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'D%' or-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'E%' or-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'F%' or-->
            <!--substr(maktx,instr(maktx,'-',1,2)+1,instr(maktx,'-',1,3)-instr(maktx,'-',1,2)-1) like 'G%')-->
            <!--group by matkl,bukrs-->
            <!--UNION ALL-->
            <!--select bukrs,decode(matkl,'120','DTY','130','POY','140','FDY','150','切片','152','短纤') product,sum(product)-->
            <!--sum_product-->
            <!--from yusuan_date_product_all-->
            <!--where bwart in ('101','102','931','932')-->
            <!--and aufnr != ' '-->
            <!--and matkl != '160'&#45;&#45;去掉160熔体订单-->
            <!--AND bukrs IN ('2000','3000','9100','9200','9300')-->
            <!--<if test="startMonth != null and startMonth != ''">-->
                <!--AND TO_char(date1,'yyyy-mm') &gt;= to_char(to_date(#{startMonth},'yyyy-mm'),'yyyy-mm')-->
            <!--</if>-->
            <!--<if test="endMonth != null and endMonth != ''">-->
                <!--AND TO_char(date1,'yyyy-mm') &lt;= to_char(to_date(#{endMonth},'yyyy-mm'),'yyyy-mm')-->
            <!--</if>-->
            <!--group by matkl,bukrs-->
        <!--) sumProduct-->
    <!--</select>-->
</mapper>