@import "../../../../app.component.css";
.el-table .info-row {
  background: #c9e5f5;
}

.el-table .positive-row {
  background: #e2f0e4;
}
.Header-color{
  background-color:#1890ff;
  color:white;
}
nz-table,nz-table tr th,nz-table tr td { border:1px solid #85a5ff;font-weight: bold }
