<!--The content below is only a placeholder and can be replaced.-->

<!--菜单栏配置页面-->
  <div el-row>
    <div el-row>
      <img src="assets/picture/logo.png" style="float: left;width: 10%;height: 50px;cursor:pointer;" routerLink="/Home" routerLinkActive="active">
      <div style="background-color: rgb(59, 157, 216);height: 50px;float: left;width: 90%">
        <!--<el-tag *ngFor="let tag of  tags"-->
                <!--[closable]="true"-->
                <!--[type]="tag.type"-->
                <!--(close)="closeTag(tag.id)">-->
          <!--{{tag.name}}-->
        <!--</el-tag>-->
      </div>
    </div>
    <div el-col span="1" *ngIf="!isCollapse">
      <el-button class="el-icon-d-arrow-right"style="margin-bottom: 20px" (click)="expand()"></el-button>
      <i class="anticon anticon-appstore" style="margin-left: 20px"></i>
    </div>
    <div el-col span="3" *ngIf="isCollapse">
        <el-button class="el-icon-d-arrow-left"style="margin-bottom: 20px" (click)="getTogether()"></el-button>
        <ul nz-menu [nzMode]="'inline'" nzTheme="'dark'" style="margin-top: 10px;">
          <li nz-submenu [nzOpen]="true">
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>财务预算分析</span>
          </span>
            <ul>
              <li nz-submenu [nzOpen]="true">
                <span title>单位成本</span>
                <ul>
                  <li nz-menu-item routerLink="/UnitCostBudget" routerLinkActive="active">
                    <span>成本项详情</span>
                  </li>
                  <li nz-menu-item routerLink="/UnitCostOverview" routerLinkActive="active">
                    <span>成本项概览</span>
                  </li>
                  <li nz-menu-item routerLink="/UnitCostResult" routerLinkActive="active">
                    <span>对比分析结果</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      <!--<el-menu [model]="[1, 1-3, 1-4, 1-5]" style="margin-top: 10px;">-->
        <!--<el-submenu index="1">-->
          <!--<ng-template #title>-->
            <!--<i class="el-icon-menu"></i>-->
            <!--<span>财务预算分析</span>-->
          <!--</ng-template>-->
          <!--&lt;!&ndash;<el-submenu title="总金额">&ndash;&gt;-->
            <!--&lt;!&ndash;<el-menu-item index="1-1">&ndash;&gt;-->
              <!--&lt;!&ndash;<span routerLink="/TotalAmountBudget" routerLinkActive="active">预算成本和实际成本详情</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</el-menu-item>&ndash;&gt;-->
            <!--&lt;!&ndash;<el-menu-item index="1-2">&ndash;&gt;-->
              <!--&lt;!&ndash;<span routerLink="/TotalAmountResult" routerLinkActive="active">预算成本和实际成本对比分析</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</el-menu-item>&ndash;&gt;-->
          <!--&lt;!&ndash;</el-submenu>&ndash;&gt;-->
          <!--<el-submenu title="单位成本">-->
            <!--<el-menu-item index="1-3" >-->
              <!--<span routerLink="/UnitCostBudget" routerLinkActive="active">成本项详情</span>-->
            <!--</el-menu-item>-->
            <!--<el-menu-item index="1-4" elDisabled>-->
              <!--<span routerLink="/UnitCostOverview" routerLinkActive="active">成本项概览</span>-->
            <!--</el-menu-item>-->
            <!--<el-menu-item index="1-5" >-->
              <!--<span routerLink="/UnitCostResult" routerLinkActive="active">对比分析结果</span>-->
            <!--</el-menu-item>-->
          <!--</el-submenu>-->
        <!--</el-submenu>-->
      <!--</el-menu>-->
    </div>
    <div style="margin-top: 10px">
      <div el-col [span]="cols">
        <div style="background-color: #F9FAFC">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>





