<!--The content below is only a placeholder and can be replaced.-->

<!--菜单栏配置页面-->
<body style="overflow-y: hidden;overflow-x: hidden;width:100%;height:100%;MARGIN-RIGHT: auto;MARGIN-LEFT: auto;">
  <div style="height: 700px;background-color:#606266">
    <div el-row>
      <div style="background-color:#11b5dc;height: 70px;float: left;width: 100%;text-align: center">
      <img src="assets/picture/logo3.png" style="float: left; cursor:pointer;margin-left: 10px;margin-top: 10px" routerLink="/Home" routerLinkActive="active">
        <h2  class="welcome-font"  >欢迎使用财务预算系统!</h2>
        <!--<el-tag *ngFor="let tag of  tags"-->
                <!--[closable]="true"-->
                <!--[type]="tag.type"-->
                <!--(close)="closeTag(tag.id)">-->
          <!--{{tag.name}}-->
        <!--</el-tag>-->
      </div>
    </div>
    <div el-row style="height:50px; color: #10a3dc;">
      <div el-col span="20" >
        <nz-breadcrumb style="height: 25px;margin-top: 5px;">
          <nz-breadcrumb-item>
            <i class="anticon anticon-home"></i>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a href=""><i class="anticon anticon-user"></i><span style="color:white">首页</span></a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div el-col span="4">
        <nz-breadcrumb style="height: 25px;margin-top: 5px;">
          <nz-breadcrumb-item>
            <i class="el-icon-date"><span style="color: white">{{today}}</span></i>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>

      <!--<div el-col span="4"  >-->
        <!--<span title >-->
          <!--<i class="el-icon-date"> </i>-->
          <!--<span style="font-weight:900;color: white;">DATE</span>-->

          <!--</span>-->
      <!--</div>-->
    </div>
    <div el-row  >
      <div el-col span="2" *ngIf="!isCollapse">
        <el-button class="el-icon-d-arrow-right"
                   style=" color:#546366; margin-bottom: 10px;border-style: none;margin-top: 10px;margin-right:10px;margin-left: 10px" (click)="expand()"
                   size="small"></el-button>
        <i class="anticon anticon-appstore" style="margin-left: 20px"></i>
      </div>
      <div el-col span="4" *ngIf="isCollapse">
        <el-button class="el-icon-d-arrow-left" style=" color:#546366;border-style: none;margin-bottom: 10px;margin-left: 180px ;margin-top: 10px; "
                   (click)="getTogether()" size="small"></el-button>
        <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" style="margin-top: 10px">
          <li nz-submenu [nzOpen]="true">
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span style="font-weight:900;color:white">财务预算分析</span>
          </span>
            <ul>
              <li nz-submenu [nzOpen]="true">

                <span title>
                  <i class="el-icon-circle-check-outline"></i>
                  <span style="font-weight:900;color:white">单位成本</span>
                </span>
                <ul>
                  <li nz-menu-item routerLink="/UnitCostBudget" routerLinkActive="active">
                <span title>
                  <i class="el-icon-view"></i>
                  <span style="font-weight:900;color:white">成本项详情</span>
                </span>
                  </li>
                  <li nz-menu-item routerLink="/UnitCostOverview" routerLinkActive="active">
                 <span title>
                  <i class="el-icon-rank"></i>
                  <span style="font-weight:900;color:white">成本项概览</span>
                </span>
                  </li>
                  <li nz-menu-item routerLink="/UnitCostResult" routerLinkActive="active">
                 <span title>
                  <i class="el-icon-printer"></i>
                  <span style="font-weight:900;color:white">对比分析结果</span>
                </span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!--<el-menu [model]="[1, 1-3, 1-4, 1-5]" style="margin-top: 10px;">-->
        <!--<el-submenu index="1">-->
        <!--<ng-template #title>-->
        <!--<i class="el-icon-menu"></i>-->
        <!--<span>财务预算分析</span>-->
        <!--</ng-template>-->
        <!--&lt;!&ndash;<el-submenu title="总金额">&ndash;&gt;-->
        <!--&lt;!&ndash;<el-menu-item index="1-1">&ndash;&gt;-->
        <!--&lt;!&ndash;<span routerLink="/TotalAmountBudget" routerLinkActive="active">预算成本和实际成本详情</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</el-menu-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<el-menu-item index="1-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<span routerLink="/TotalAmountResult" routerLinkActive="active">预算成本和实际成本对比分析</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</el-menu-item>&ndash;&gt;-->
        <!--&lt;!&ndash;</el-submenu>&ndash;&gt;-->
        <!--<el-submenu title="单位成本">-->
        <!--<el-menu-item index="1-3" >-->
        <!--<span routerLink="/UnitCostBudget" routerLinkActive="active">成本项详情</span>-->
        <!--</el-menu-item>-->
        <!--<el-menu-item index="1-4" elDisabled>-->
        <!--<span routerLink="/UnitCostOverview" routerLinkActive="active">成本项概览</span>-->
        <!--</el-menu-item>-->
        <!--<el-menu-item index="1-5" >-->
        <!--<span routerLink="/UnitCostResult" routerLinkActive="active">对比分析结果</span>-->
        <!--</el-menu-item>-->
        <!--</el-submenu>-->
        <!--</el-submenu>-->
        <!--</el-menu>-->
      </div>
      <div style="margin-top: 0px">
        <div el-col [span]="cols">
          <div style="background-color:white">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
     <div >
      <p style="text-align: center;color:white;margin-bottom: 10px;margin-top: auto;font-weight:500;">版权所有：恒逸集团 ©2010-2017 Zhejiang Hengyi Group Co.,
        Ltd. All Rights Reserved </p>
     </div>


  </div>
</body>




