<!--The content below is only a placeholder and can be replaced.-->

<!--菜单栏配置页面-->
<body style="overflow-y: hidden;overflow-x: hidden;width:100%;height:100%;MARGIN-RIGHT: auto;MARGIN-LEFT: auto;">
<div style="height: 700px;"> 
  <div el-row>
    <div style="background-color:#0070c1;height: 60px;float: left;width: 100%;text-align: center">
      <img src="assets/picture/logo3.png" style="float: left; cursor:pointer;margin-left: 10px;margin-top: 10px; height: 40px;"
        routerLink="/Home" routerLinkActive="active">
      <div id="nav" style="float: right;margin-right: 70px;margin-top: 10px;margin-bottom: 0px">
        <el-menu [model]="0" (modelChange)="handle($event)" class="el-menu-demo" mode="horizontal"
                 background-color="#0070c1"
                 active-text-color="#b5f5ec"
                 text-color="white"
        >
          <el-submenu index="2" class="el-menu-title" title="Hi,欢迎使用财务预算系统" style="font-family:sans-serif,Times, serif;font-weight:900; height: 50px; line-height: 50px;">
            <el-menu-item index="2-1">查看个人信息</el-menu-item>
            <el-menu-item index="2-2">修改个人信息</el-menu-item>
            <el-menu-item index="2-3">退出登录</el-menu-item>
          </el-submenu>
        </el-menu>
      </div>
      <!--<h2  class="welcome-font"  >欢迎使用财务预算系统!</h2>-->
      <!--<el-tag *ngFor="let tag of  tags"-->
      <!--[closable]="true"-->
      <!--[type]="tag.type"-->
      <!--(close)="closeTag(tag.id)">-->
      <!--{{tag.name}}-->
      <!--</el-tag>-->
    </div>
  </div>
  <div el-row style="height:680px; background-color:  #2a2e34 !important;">
    <div el-col span="2" *ngIf="!isCollapse">
      <el-button class="anticon anticon-menu-unfold"
                 style="  margin-bottom: 10px;border-style: none;
                 margin-top: 10px;margin-right:10px;margin-left: 10px; 
                 background-color:#0070c1 !important;color: #fff;"
                 (click)="expand()"
                 size="small"></el-button>
      <!-- <i class="anticon anticon-appstore" style="margin-left: 20px"></i> -->
    </div>
    <div el-col span="4" *ngIf="isCollapse">
      <div style="width: 100%;background-color:  #2a2e34 !important;">
          <el-button class="anticon anticon-menu-fold"
                    style=" border-style: none;margin-bottom: 
                    10px;margin-left: 180px ;margin-top: 10px;"
                    (click)="getTogether()"
                    size="small">
          </el-button>
      </div>
      <ul class="ui-li-set" nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" style=" height: 700px;">
        <li class="ui-li-set" nz-submenu [nzOpen]="true">
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span class="left-title-style">财务预算分析</span>
          </span>
          <ul class="ui-li-set">
            <li class="ui-li-set" nz-submenu [nzOpen]="true">
                <span title>
                  <i class="el-icon-circle-check-outline"></i>
                  <span class="left-title-style">单位成本</span>
                </span>
              <ul class="ui-li-set">
                <li class="ui-li-set" nz-menu-item routerLink="/budgetManage" routerLinkActive="active">
                  <span title>
                    <i class="el-icon-view">
                      <span class="left-title-style">预算数据维护界面</span>
                    </i>
                  </span>
                </li>
                <li class="ui-li-set" nz-menu-item routerLink="/UnitCostBudget" routerLinkActive="active">
                <span title>
                  <i class="el-icon-view"></i>
                  <span class="left-title-style">成本项详情</span>
                </span>
                </li>
                <li class="ui-li-set" nz-menu-item routerLink="/UnitCostOverview" routerLinkActive="active">
                 <span title>
                  <i class="el-icon-rank"></i>
                  <span class="left-title-style">成本项概览</span>
                </span>
                </li>
                <li class="ui-li-set" nz-menu-item routerLink="/UnitCostResult" routerLinkActive="active">
                 <span title>
                  <i class="el-icon-printer"></i>
                  <span class="left-title-style">对比分析结果</span>
                </span>
                </li>
                <li class="ui-li-set" nz-menu-item routerLink="/NewlyIncreased" routerLinkActive="active">
                 <span title>
                  <i class="el-icon-printer"></i>
                  <span class="left-title-style">新增规格查询</span>
                </span>
                </li>
                <li class="ui-li-set" nz-menu-item routerLink="/CompareProduct" routerLinkActive="active">
                 <span title>
                  <i class="el-icon-printer"></i>
                  <span class="left-title-style">各个公司产量查询</span>
                 </span>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="ui-li-set">
            <li class="ui-li-set" nz-submenu [nzOpen]="true">
                <span title>
                  <i class="el-icon-view"></i>
                  <span class="left-title-style">字典维护</span>
                </span>
                <ul class="ui-li-set">
                  <li class="ui-li-set" nz-menu-item routerLink="/ProductLineMange" routerLinkActive="active" disabled>
                  <span title>
                    <i class="el-icon-view"></i>
                    <span class="left-title-style">维护生产线匹配关系</span>
                  </span>
                  </li>
                </ul>
                <ul class="ui-li-set">
                  <li class="ui-li-set" nz-menu-item routerLink="/MaterialManage" routerLinkActive="active" disabled>
                    <span title>
                      <i class="el-icon-view">
                        <span class="left-title-style">维护物料匹配关系</span>
                      </i>
                    </span>
                  </li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div style="margin-top: 0px">
      <div el-col [span]="cols">
        <div style="background-color:white">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="footer">
  <p style="text-align: center;color:black;font-weight:500;line-height: 30px;color: #fff;">版权所有：恒逸集团 ©2010-2017
    Zhejiang Hengyi Group Co.,
    Ltd. All Rights Reserved </p>
</div>
</body>




