<!--物料关系管理页面-->
<div class="box" style="overflow-x: hidden;height: auto">
  <div style="margin-top: 10px">
    <div class="components-table-demo-control-bar">
      <form nz-form [nzLayout]="'inline'">
        <div nz-row nz-form-item>
          <div nz-form-control>
            <div nz-form-label>
              <label><font style="color:#108ee9">匹配情况</font></label>
            </div>
            <nz-radio-group [(ngModel)]="matchCondition" [ngModelOptions]="{standalone: true}" >
              <label nz-radio-button [nzValue]="'matched'" (click)="changeList()">
                <span>有匹配关系物料</span>
              </label>
              <label nz-radio-button [nzValue]="'unmatched'" (click)="changeList()">
                <span>无匹配关系物料</span>
              </label>
            </nz-radio-group>
          </div>
          <div nz-form-control>
            <el-button (click)="findList()" type="primary" size="small">查询</el-button>
          </div>
          <div nz-form-control>
            <button nz-button nzType="primary" (click)="addMaterialList()"><i class="anticon anticon-plus"></i>增加</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>

  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="增加物料匹配关系" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-template #modalContent>
      <p>你好！</p>
    </ng-template>
    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [style.display]="control.show?'block':'none'">
          <div nz-form-label nz-row>
            <div nz-form-label nz-col [nzSpan]="5"><label [attr.for]="'field'+control.index">Field {{control.index}}</label></div>
          </div>
          <div nz-form-label nz-row>
            <div nz-form-label nz-col [nzSpan]="19"><label [attr.for]="'field'+control.index">Field {{control.index}}</label></div>
          </div>
        </div>
      </div>
    </form>
  </nz-modal>
  <div style="margin-top: 10px;background-color: white">
    <nz-table #groupingTable
              [nzAjaxData]="tableData"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageSize)]="_pageSize"
              [(nzPageIndex)]="_current"
              [nzPageSize]="10"
              (nzDataChange)="_displayDataChange($event)"
              (nzPageIndexChange)="_refreshStatus()"
              (nzPageSizeChange)="_refreshStatus()"
              nzBordered
              [nzScroll]="{ x: 800, y: 400 }">
      <ng-template #nzFixedHeader >
      <thead nz-thead>
      <tr>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>序号</span></th>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>物料名称</span></th>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>物料号</span></th>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>物料类型</span></th>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>成本要素id</span></th>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>对应的字段</span></th>
        <th class="Header-color" nz-th nzWidth="50px" style="text-align: center;line-height: 10px;padding: 5px" rowspan="1"><span>所属阶段</span></th>
      </tr>
      </thead>
      </ng-template>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of tableData">
        <td nz-td style="text-align: center;line-height: 10px;padding: 5px;background-color:#87e8de" *ngFor="let key of getkeys(data)">
          <span>
            {{data[key]}}
          </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
